<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Software_Engineering_Project_New.Properties.Settings.CitisoftDBConnection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\euanm\Documents\ARU\Yr2\Software Engineering\CS\Software Engineering Project New\Citisoft.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>